<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" debug="true" tempDirectory="M:\inetpub\vhosts\alfalaahdg.com\tmp" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="username" value="donotreply@alfalaahdg.com" />
    <add key="pwd" value="Tizzy2015!@!@" />
    <add key="smtphost" value="mail.alfalaahdg.com" />
    <add key="smtpport" value="25" />
    <add key="ssl" value="true" />
    <add key="emailto" value="info@alfalaahdg.com" />
    <add key="FromEmail" value="donotreply@alfalaahdg.com" />
  </appSettings>
</configuration>